body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, sans-serif;
    width: 100%;
}

#top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Arial, sans-serif;
    width: 90%;
}

canvas {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: grab;
}

#controls-container {
    gap: 10px;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
label {
    font-size: 14px;
}
.explaination{
    padding-top: 68px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    font-size: 0.9em;
    color: #555;
    border-top: 1px solid #ccc;
  }

  header {
    text-align: center;
    margin-top: 30px;
  }
  
  .main-title {
    font-size: 3em;
    margin: 0;
  }
  main {
    flex: 1;
  }
  
  .category-section {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .category-section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  